.info{
    &_med{
     
        background-color: $color-orangy;
        text-align: center;
    }
    h3{
     font-weight: bold;
        padding-top:11px;;
        color: $color-blue;
    }
    p{
     
     margin-top: 0em; 
     padding-bottom: 22px;
    }
 }