
.mm-survey-page {
	display: none;
	font-family: 'Raleway';
	font-weight: 100;
	padding: 40px;
	
}
.mm-survey-page.active {
	display: block;
}


#back{
	border: 2px solid $color-blue;
	background-color: rgba(16, 121, 173, 0.2);
	color: $color-blue;
	width: 7em;
	transition: .2s;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
    
}

.mm-finish-btn {
	display: none;
	position: relative;
	width: 8em;
  
}

.mm-finish-btn button {
	border: 2px solid $color-blue;
	background-color: rgba(16, 121, 173, 0.2);
	color: $color-blue;
	transition: .2s;
	margin-left: 58em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 8em;
}

.mm-survey-controller button {
	border: 2px solid $color-blue;
	background-color: rgba(16, 121, 173, 0.2);
	color: $color-blue;
	transition: .2s;
	margin-left: 42em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
	width: 7em;
	
}



.mm-survey-progress {
	margin-left: 3em;
	margin-top: -1.5em;
	border-radius: 1em;
	width: 95%;
	height: 10px;
	background-color: $color-button;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	 
	border-radius: 1em;
	height: 10px;
	background-color: $color-blue;
  
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survey-item{
	margin-left: 15em;
}

.mm-survey-question {
	text-align: center;
	min-height: 100px;
    color: $color-grey;
    font-weight: bold;
    font-size: 1em;
}

input[type="radio"] {
	
	display: none;
}

input[type="radio"] + label {
	
	text-align: center;
	border: 3px solid #1078AD;
    color: #1078AD;
    font-weight: 500;
    transition: .5s;
	display: inline-block;
	margin: 2px 4px 0 0;
	vertical-align: middle;
	width: 99px;
    height: 65px;
    border-radius: 5px;


}
input[type="radio"] label:checked  {
	border: 2px solid grey;
	background: transparent;
}
.mm-survery-content label:hover {
	cursor: pointer;
	background-color:$color-blue ;
	color: $color-orangy;
}
 
.deg
{

	margin-left: -8em; 
    width: 35em;
    padding: 0.22em;
    border:0.5px solid $color-button;

}

#questCount{
	margin-top: -1em;
    margin-left: -57em;

}





.mm-finish-btn.active {
	display: inline-block;
}

.mm-item-info {
	float: right;
}