* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif; }

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: url(/app/images/png/navbar-bg.png);
  color: #2B2B2C;
  height: 1em;
  padding: 1em; }
  .top-nav .nav {
    display: flex;
    flex-direction: row;
    list-style-type: none; }
  .top-nav .nav > li {
    margin: 0 1rem; }
  .top-nav .nav-links {
    margin-left: 40px;
    color: #2B2B2C;
    text-decoration: none; }
  .top-nav .nav-links:hover {
    font-weight: bold;
    color: #1078AD; }

.info_med {
  background-color: #F4CF1B;
  text-align: center; }

.info h3 {
  font-weight: bold;
  padding-top: 11px;
  color: #1078AD; }

.info p {
  margin-top: 0em;
  padding-bottom: 22px; }

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }
  .test_container {
    margin-top: 2em;
    text-align: center;
    margin-left: 6em; }
  .test img {
    margin-top: 1em;
    width: 40px; }
  .test h3 {
    font-weight: bold;
    color: #1078AD; }
  .test p {
    font-weight: bold;
    color: #7F7F7F; }
  .test .image img {
    margin-top: 1em;
    margin-left: 9em;
    width: 75%; }
  .test .btn {
    font-weight: bold;
    margin-top: 1em;
    background-color: #BCDAEA;
    border: 2px solid #1078AD;
    color: #1078AD;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 28em; }
    .test .btn:hover {
      color: #FFF;
      background: #1078AD; }

.cont .title h2 {
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  color: #1078AD; }

.cont .content {
  display: flex;
  flex-wrap: wrap; }

.cont .card {
  flex: 4 0 40%;
  margin: 20px;
  height: 170px;
  color: #1078AD;
  display: flex;
  align-items: center;
  justify-content: center; }

.cont h4 {
  text-align: center; }

.rec {
  background-color: #1078AD;
  color: #FFF; }
  .rec__titles h3 {
    margin-left: 17em; }
  .rec h2 {
    text-align: center; }
  .rec p {
    margin-left: 7em; }
  .rec .sec {
    flex-direction: column;
    display: flex;
    margin-top: 2em;
    margin-left: 66em; }
    .rec .sec h3 {
      margin-left: 2em;
      margin-top: -10em;
      color: #F4CF1B; }
    .rec .sec input[type=button] {
      margin-top: 9em;
      width: 10em;
      font-weight: bold;
      margin-top: 0em;
      background-color: #F4CF1B;
      border: 2px solid #1078AD;
      color: #1078AD;
      text-align: center;
      text-decoration: none;
      display: inline-block; }

.quest {
  padding-block-end: 2em;
  background-color: #BCDAEA; }
  .quest img {
    margin-left: 46em;
    margin-top: 1em;
    width: 41px; }
  .quest h3 {
    text-align: center;
    font-weight: bold;
    color: #1078AD; }
  .quest .btn {
    margin-left: 28em;
    font-weight: bold;
    margin-top: 1em;
    background-color: #BCDAEA;
    border: 2px solid #1078AD;
    color: #1078AD;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 21em; }
    .quest .btn:hover {
      color: #FFF;
      background: #1078AD; }

.footer__col-1 img {
  flex-direction: row;
  margin-left: 44em; }

.footer__col-2 {
  margin-left: -4em; }
  .footer__col-2 h3 {
    margin-left: 21em;
    color: #1078AD; }
  .footer__col-2 h4 {
    margin-left: -41em;
    color: #369D53; }
  .footer__col-2 p {
    text-align: center;
    margin-left: -45em;
    font-size: 12px;
    font-weight: 700;
    color: #2B2B2C; }

.footer__col-3 {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin-left: 61em;
  margin-top: -10em; }

.footer .foot {
  list-style-type: none; }

.footer .footer-links {
  display: block;
  margin-top: 9em;
  width: 20em;
  font-weight: bold;
  margin-top: 1em;
  background-color: transparent;
  border-bottom: 1px solid rgba(16, 121, 173, 0.5);
  color: #1078AD;
  text-align: center;
  text-decoration: none; }
  .footer .footer-links .footer-links:hover {
    font-weight: bold;
    color: #1078AD; }

.footer .buttom-line {
  margin-top: 9em;
  padding: 1em;
  background-color: #1078AD; }

.information_titles {
  padding-top: 2em;
  padding-block-end: 6em;
  background-color: #BCDAEA; }
  .information_titles h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #1078AD; }
  .information_titles p {
    font-weight: bold;
    text-align: center;
    color: #1A519E; }

.information .info_links {
  text-decoration: none;
  display: block;
  margin-left: 24em;
  width: 14em;
  margin-top: -4em;
  background: url(/app/images/png/button-bg.png);
  height: 2em;
  font-size: 20px;
  text-align: center; }
  .information .info_links a {
    font-size: 1em;
    text-decoration: none;
    color: #FFF; }

.protect h1 {
  margin-top: 1em;
  font-weight: bold;
  text-align: center;
  color: #1078AD; }

.protect .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.protect .card {
  display: flex;
  height: 12em;
  align-items: center;
  justify-content: center;
  flex: 3 0 26%;
  margin: 2em;
  color: #1078AD; }
  .protect .card .card-1 {
    margin-left: 6em;
    margin-top: 3em; }
    .protect .card .card-1 img {
      margin-left: 2em; }
  .protect .card .card-2 {
    margin-left: 7em; }
    .protect .card .card-2 img {
      margin-left: 1em; }
    .protect .card .card-2 h4 {
      margin-left: -5em; }
  .protect .card .card-3 {
    margin-top: 1em; }
    .protect .card .card-3 img {
      margin-left: 1em; }
    .protect .card .card-3 h4 {
      margin-left: -5em; }
  .protect .card .card-4 {
    margin-left: 9em; }
    .protect .card .card-4 img {
      margin-left: -1em; }
    .protect .card .card-4 h4 {
      margin-left: -5em; }
  .protect .card .card-5 {
    margin-left: 8em; }
    .protect .card .card-5 img {
      margin-left: -1em; }
    .protect .card .card-5 h4 {
      margin-left: -5em; }
  .protect .card .card-6 img {
    margin-left: -1em; }
  .protect .card .card-6 h4 {
    margin-left: -3em; }
  .protect .card .card-7 img {
    margin-left: 7em; }
  .protect .card .card-7 h4 {
    margin-left: -1em;
    text-align: center; }
  .protect .card h4 {
    text-align: center; }

.stepper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.04588);
  padding-left: 5em;
  padding-right: 5em; }
  .stepper-horizontal {
    justify-content: space-evenly;
    padding: 250px; }
    .stepper-horizontal .steps {
      margin-top: -18em;
      display: flex;
      column-count: 3;
      align-items: center; }
      .stepper-horizontal .steps .step {
        width: 100%;
        text-align: center;
        line-height: 0.1em;
        margin: 10px 0 20px; }
        .stepper-horizontal .steps .step span {
          height: 25px;
          width: 25px;
          background-color: #1078AD;
          border-radius: 50%;
          display: inline-block; }
      .stepper-horizontal .steps .title {
        color: #1078AD;
        font-weight: bold;
        margin-top: 2.5em; }
      .stepper-horizontal .steps .title.ac {
        margin-top: 0.75em; }
      .stepper-horizontal .steps .step.active span {
        background-color: #F4CF1B;
        border: 9px solid #BCDAEA;
        padding: 0px; }
  .stepper .preambule {
    font-weight: bold;
    padding: 1em;
    margin: 11em;
    margin-top: -30em;
    background-color: #e9ecef; }
  .stepper .tabs {
    padding-block-start: 2em;
    padding-block-end: 2em;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center; }
    .stepper .tabs .tab {
      display: none; }
    .stepper .tabs .tab.active {
      display: block; }
    .stepper .tabs h3 {
      font-weight: bold;
      text-align: center;
      color: #1078AD; }
    .stepper .tabs p {
      margin-top: 1em;
      font-size: 1em;
      color: #7F7F7F;
      text-align: center; }

.testbtn {
  margin-bottom: -27em; }
  .testbtn button {
    display: block;
    margin-left: -29em;
    margin-right: auto;
    font-weight: bold;
    background-color: #BCDAEA;
    border: 2px solid #1078AD;
    color: #1078AD;
    border-radius: -15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 12em; }
    .testbtn button:hover {
      color: #FFF;
      background: #1078AD; }
  .testbtn:active {
    outline: none;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px; }

#second #Progress {
  border-radius: 1em;
  margin-top: -2em;
  width: 107%;
  background-color: #BCDAEA; }

#second #Bar {
  border-radius: 1em;
  width: 9%;
  height: 10px;
  background-color: #1078AD; }

#second #nxtBtn {
  border: 2px solid #1078AD;
  background-color: rgba(16, 121, 173, 0.2);
  color: #1078AD;
  transition: .2s;
  margin-left: 46em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5em; }
  #second #nxtBtn:hover {
    color: #FFF;
    background: #1078AD; }

#second p {
  margin-top: -1em;
  color: black;
  margin-left: -56em; }

#second .question h1 {
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
  color: #7F7F7F;
  margin-bottom: 3em; }

#second .question .answer {
  margin-top: -4em; }
  #second .question .answer .fa {
    font-size: 26px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -100%); }

#second .question button {
  padding-top: 1em;
  text-align: center;
  left: 33%;
  color: #F4CF1B;
  width: 93px;
  height: 70px;
  border-radius: 5px;
  border: 3px solid #1078AD;
  position: relative;
  color: #1078AD;
  font-weight: 500;
  transition: .5s; }
  #second .question button:hover {
    color: #F4CF1B;
    background: #1078AD; }

.invisible {
  display: none; }

.visible {
  display: block; }

.flex {
  display: flex; }
