.info{
    &_med{
     
        background-color: #F4CF1B;
        text-align: center;
    }
    h3{
     font-weight: bold;
        padding-top:11px;;
        color: #1078AD;
    }
    p{
     
     margin-top: 0em; 
     padding-bottom: 22px;
    }
 }