.top-nav {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #BCDAEA;
  color: black;
  height: 17px;
  padding: 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav > li {
  margin: 0 1rem;
}
  .nav-links{
    margin-left: 40px;
      color: black;
    text-decoration: none;
  }
    
  .logo {
    color: #95C4DB;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .logo:hover,
  .nav-links:hover {
  font-weight: bold;
    color: #1078AD;
  }
