*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    
}

.navbar {
    background-color: #BCDAEA; 
    padding-bottom: 10px;
  }
  
  .main-nav {
    text-decoration: none;
    list-style-type: none;
    display: none;
  }
  .nav-links{
    margin-left: 40px;
      color: black;
    text-decoration: none;
  }
 

  .main-nav li {
    text-align: center;
    margin: 5px auto;
  }
  
  .logo {
    color: #95C4DB;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #1078AD;
    font-size: 50px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 50px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
    font-weight: bold;
      color: #1078AD;
    }
  }
  
.info{
   &_med{
    
       background-color: #F4CF1B;
       text-align: center;
   }
   h3{
    font-weight: bold;
       padding-top:11px;;
       color: #1078AD;
   }
   p{
    font-weight: bold;
    margin-top: 0em; 
    padding-bottom: 22px;
   }
}
.test{
 display: flex;
flex-direction: row;
flex-wrap: nowrap;
     justify-content: space-around;
        align-items: center;

       &_container{
        margin-top: 2em; 
    text-align: center;
    margin-left: 6em;
   
       }
       img{
        margin-top: 1em; 
           width: 40px;
       }
   h3{
    font-weight: bold;
    color: #1078AD;

   }
   p{
    font-weight: bold;
       color: #7F7F7F;
   }

}
.image img{
    margin-top: 1em;
    margin-left: 9em;
    width: 75%;
    
}
button{
    font-weight: bold;
    margin-top: 1em;
    background-color:#BCDAEA ; 
    border: 2px solid #1078AD;
    color:  #1078AD;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    width: 28em;
    &:hover{
        color:  white;
      background:  #1078AD;;
      }
}
