*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    
}
@import "navbar";

@import "info";

@import "test";

@import "cont";

@import "rec";

@import "quest";

@import "footer";
